{% extends 'base.html.twig' %}

{% block page_stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/form_admin.css') }}">
{% endblock %}

{% block title %}
	Email de réinitialisation
{% endblock %}

{% block content %}
	<div id="body-container" class="d-flex flex-row">
		<div class="content_dashboard">
			{% for message in app.flashes('success') %}
				<div class="flash-notice alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="flash-notice alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
			<h1>Réinitialiser votre mot de passe</h1>
			{{ form_errors(loginForm) }}

			{{ form_start(loginForm, { 'attr': { 'class': 'form' }, 'method': 'POST', 'action': path('app_admin_forgot_password')}) }}
			{{ form_row(loginForm.email, {
				label: 'E-mail'
			}) }}
			{{ form_row(loginForm.submit, {
				label: 'Envoyer'
			}) }}
			{{ form_end(loginForm) }}
		</div>
	</div>
{% endblock %}
