{% extends 'base.html.twig' %}

{% block page_stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/form_admin.css') }}">
{% endblock %}

{% block title %}
	Réinitialiser votre mot de passe | Espace d'Administration
{% endblock %}

{% block content %}
	{# Administrator page Content #}
	<div class="content_dashboard">
		{% for message in app.flashes('success') %}
			<div class="flash-notice alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash-notice alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		<h1>Réinitialiser votre mot de passe</h1>
		{{ form_errors(form) }}

		{{ form_start(form, { 'attr': { 'class': 'form' }, 'method': 'POST', 'action': path('app_admin_reset_password', {'token': token})}) }}
		{{ form_row(form.password, {
					label: 'Entrez votre nouveau mot de passe'
				}) }}
		{{ form_row(form.submit, {
					label: 'Envoyer'
				}) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
